*{
    padding:0;
    margin: 0;

}
html{
    font-size: 62,2%;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    width: 100%;
}
.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    display: flex;
    font-family:'Courier New', Courier, monospace;
    font-style:inherit;
    color:aliceblue;
    margin-right: 700px;
    width: auto;
} 
a {
    font-size: 18px;
    color:aliceblue;
    font-weight: bolder;
    text-decoration: none;

}
.titulo{
    margin-bottom: 20px;
    color: chocolate;
}
header a:hover {
    color:chocolate;
}
.titulo{
    align-items:flex-start;
    margin-right: 50px;
}
h2{
    color:khaki; 
    margin-left: 100px;
}
h1{
    color:chocolate;
    font-size: 70px;
    margin-left: 100px;
}
.navegacion{
    text-align: end;
}
li{
    list-style: none;
    margin: 20px;
}
.conteinernoticias{
    text-align: left;
}
.contenedorpadre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.noticias{
    text-align:center;
    border:double 10px;
    width: 400px;
    height: 200px;
    background-color: rgba(0,0,0, 0.5);
    margin: 15px;
    border-radius: 50px;

}
.noticias button{
    background-color:rgba(0,0,0, 0.5);
    color:aliceblue;
    margin-bottom: 10px;
}
.noticias p{
    margin-top: 10px;
    margin-bottom: 20px;
    color: aliceblue;
}
.imagen{
    text-align: center;
    color: aliceblue;
    width: 500px;
    display: block;
    background-color: rgba(0,0,0, 0.5);
    font-size: 100px;
    font-family:sans-serif;
    font-weight:bold;
    border: double black 10px;
    margin-bottom: 30px;
    border-radius: 50px;
    
}
.imagen img{
    border-radius: 30px;
    width: 100%;
    height: 500px;
}
#divcanciones{
    width: 500px;
    position: relative;left: 300px;

}
#divcanciones iframe{
    border-radius: 30px;
    width:100%;
    height: 352px;
}
.infoboton{
    background-color:dimgrey;
    border-radius: 20px;
}
.conteinershows h3{
    font-family:unset;
    position: relative;left: 5px;
    margin: 15px;
}
.conteinershows{
    color: aliceblue;
    background-color: rgba(0,0,0, 0.5);
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
    border-radius: 50px;
    margin-bottom: 200px;
    margin-top: 80px;
    height: 500px;
      
}
.conteinershows h2{
    color: aliceblue;
    position: relative;left: 1px;
}
.conteineralbunGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 3fr);
    gap:20px;
    
}
.conteineralbunGrid img{
    width: 100%;
    height: 80%;
    border-radius: 150px;
    border: solid 20px black;
    
}
.carousel-inner {
    background-color: rgba(0,0,0, 0.5);
    border: solid 10px;
}
.carousel-inner img{
    margin-left: 30%;
}
.divalbun{
    display: block;
    text-align: center;
}
.divalbun p{
    color: aliceblue;
    font-family: Croissant One, cursiva;
    font-size:20px;
}
.titulocarrucel h2{
    font-family: bebas neue, sans-serif;
    color: black;
    font-size: 70px;
}
.iconos{
    display: flex;
    margin: 10px;
}
.iconos ion-icon{ 
    position: relative; top: 1px;
    margin:3px;
    width: 20px;
    height: 20px;
}
.logomusic img{
    width: 100px;
    height: 80px;
}
.botonformulario button{
    background-color: black;
    width: 100%;
    margin-bottom: 50px;
}
.contenedorcontact {
    width: 50%;
    margin-left: 200px;
    border: solid 20px rgba(0, 0, 0, 0.5); 
    border-radius: 50px;
    margin-bottom: 30px;

}
.contenedorcontact label{
    color: aliceblue;
}

footer{
    display: block;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    height: 80px;
    border:  5px;
    width: 100%;
}
.piedepagina p {
    background-color:rgba(0,0,0, 0.8);
}
.accordion-button{
    background-color: rgba(0,0,0, 0.5);
}
@media(max-width:768px){
     header{
        width: max-content;
     }
    .conteiner{
        display: block;
        flex-direction: column;
        width: 100%;
    }
    .menu ul{
        display: block;
        flex-direction: column;
    }
    .titulo {
        display: inline-block;

    }
    .titulo h1{
        color: aliceblue;
        font-size: 40px;
        position: relative; left: 30px;
    }
    .titulo h2{
        color: aliceblue;
        position: relative;left: 30px;
    }
    .contenedorpadre{
        display: block;
        flex-direction: column;
    }
    .noticias{
        width: 300px;
        height: 200px;

    }
    .noticias p{
        font-size: 12px;
        color: aliceblue;
    }
    .imagen{
        width: 380px;
        height: 650px;
        margin-left: 20px;
    }
    .imagen img{
        width: 100%;
        height: 300px;
    }
    .imagen p{
        font-size: 13px;
    }
    
    a :hover{
        color: chocolate;
    }
    
}






    






   
   
