//scss de la galeria de la pagina
.conteineralbunGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 3fr);
    gap:20px;
    img{
        width: $anchosmax;
        height: 80%;
        border-radius: 150px;
        border: solid 20px black;
    }
}
.titulocarrucel{
    background-color: $colorFondo;
    h2{
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        margin-left: 40%;
        color:$colorTexto;
    }
}
.carousel-inner {
    background-color: $colorFondo;
    border: solid 10px;
    img{
        margin-left: 30%;
    }
}

//media queries de la gallery
@media (max-width:768px) {
    .conteineralbunGrid{
        display: block;
        flex-direction: column;
        .carousel-inner {
            width: $anchosmax;
            margin-right: 20%;   //preguntar como ajustar img

    }
}
}