html{
    font-size: 62,2%;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    @extend%flexrow;
    background-color: $colorFondo;
    padding: 10px;
    width: $anchosmax;
    }
    .conteiner{
        @extend%flexrow;
        justify-content: space-between;
        .iconos{
            @extend%flexrow;
            margin: 10px;
            ion-icon{
                position: relative; top: 1px;
                margin:3px;
                width: 20px;
                height: 20px;
                color: aliceblue;
                &:hover{
                    color: $colorTexto;
                }
            }
        }
        ul{
            display: flex;
            font-family:'Courier New', Courier, monospace;
            color:aliceblue;
            margin-right: 700px;
            width: auto;
            li{
                list-style: none;
                margin: 20px;
                a {
                    font-size: 18px;
                    color: aliceblue;
                    font-weight: bolder;
                    text-decoration: none;
                    &:hover {
                        color:$colorTexto;
                    }

                     
                } 
            }
        }
        
    }  

    
h1{
    color: $colorTexto;
    font-size: 70px;
    margin-left: 100px;
}
//pie de pagina
footer{
    display: block;
    text-align:center;
    background-color:$colorFondo;
    color: aliceblue;
    height: 80px;
    border:  5px;
    width: 100%;
    .piedepagina{
        p{
            background-color: $colorFondo;
        }
    }

}