@import "base";
@import "variables";
@import "general";
@import "gallery";
//extend
%flexrow{
    display: flex;
    flex-direction: row;
}
//scss pagina index
.titulo{
    margin-bottom: 20px;
    align-items:flex-start;
    margin-right: 50px;
    h2{
        color:khaki; 
        margin-left: 100px;
    }
}
.contenedorpadre{
    @extend%flexrow;
    justify-content: space-around;
    margin: 5%;
    .conteinernoticias{
        text-align: left;
        .contenedorgif{
            @extend %flexrow;
             .gifcontent{
                display: block;
                background-color: $colorFondo;
                border-radius: 10%;
                overflow-x: hidden;
                width: 50%;
                margin: 5px;
                    h3{
                        color: $colorTexto;
                    }
                    p{
                        color: aliceblue;
                        text-align: center;
                     }
                    img{
                    width: $anchosmax;
                     }
                    }
           
                }
        .noticias{
            text-align:center;
            border:double 10px;
            width:50vw;
            background-color: $colorFondo;
            margin: 15px;
            border-radius: 50px;
            color: $colorTexto;

            p{
                margin-top: 10px;
                margin-bottom: 20px;
                color: aliceblue;
                font-weight: bold;
                font-family: 'Source Code Pro', monospace;
                font-size: 12px;
                padding: 5px;
            }
            button{
                background-color:$colorFondo;
                color:aliceblue;
                margin-bottom: 10px;
                padding: 5px;

            }
            .infoboton{
                background-color:dimgrey;
                border-radius: 20px;
            }
    }
}
.imagen{
    text-align: center;
    color: aliceblue;
    display: block;
    background-color: rgba(0,0,0, 0.5);
    font-size: 100px;
    font-family: 'Source Code Pro', monospace;
    font-weight:bold;
    border: double black 10px;
    margin-left: 30%;
    margin-bottom: 30px;
    border-radius: 50px;
    padding: 5px;
        p{
            font-size: 15px;
        }
        img{
            width: 100%;
            border-radius: 30px;
        }
    
}
}
//scss music
.logomusic{
    img{
        width: 100px;
        height: 80px;
        
    }
}
.Titulomusic{
    position: relative;
    width: $anchosmax;
    h1{
        position: absolute;
        top: 10%;
    }
    img{
        width: $anchosmax;
        height: 40vw;
    }
}
#divcanciones{
    display: flex;
    justify-content: center;
    width: $anchosmax;
    height: auto;
    padding: 5px;
    iframe{
        border-radius: 30px;
        width: $anchosmax;
        height: 352px;
        

    }
}
//scss shows
.conteinershows{
    display: inline-block;
    color: aliceblue;
    background-color: $colorFondo;
    padding: 10px;
    margin-left: 30px;
    border-radius: 50px;
    margin-bottom: 200px;
    margin-top: 80px;
    height: 500px;
    h2{
        color: gray;
        position: relative;left: 1px;
        font-family: 'EB Garamond', serif;
       
    }
    h3{
        font-family: 'EB Garamond', serif;
        position: relative;left: 5px;
        margin: 15px; 
        color: $colorTexto;
    }
}
//scss contacto
.contenedorcontact{
    width: $anchosmax/2;
    margin-left: 20%;
    border: solid 20px $colorFondo;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 10px;
    span{
        background-color: $colorTexto;
    }
    input{
        background-color: $colorFondo;
    }
    label{
        color: aliceblue;
    }
    textarea{
        background-color: $colorFondo;
    }
    .botonformulario{
        button{
            background-color: $colorTexto;
            width: $anchosmax;
            margin-bottom: 50px;
        }
       
    }
}
//media queries de los html
    @media(max-width:768px){
        //menu
        .conteiner{
            display: block;
            flex-direction: column;
            width: $anchosmax;
        }
        .menu ul{
            display: block;
            flex-direction: column;
        }
        //index
        .titulo {
            display: inline-block;
            
    
        }
        .titulo h1{
            color:$colorTexto;
            font-size: 30px;
        }
        .titulo h2{
            color: aliceblue;
            font-size: 20px;
        }
        .contenedorpadre{
            display: block;
            flex-direction: column;
            overflow-x: hidden;
            padding: 35px;
        }
        .noticias{
            width: 50%;
    
        }
        .noticias p{
            font-size: 9px;
            color: aliceblue;
        }
        .imagen{
            width: $anchosmax;
            position: relative;right:40%;
            overflow-x: hidden;
        }
        .imagen img{
            width: 50%;
            height: 50%;
        }
        .imagen p{
            font-size: 13px;
        }
        .imagen2{
            margin: 20px;
            flex-wrap: wrap;
        }
        
        a :hover{
            color: chocolate;
        }
        footer{
            width: $anchosmax;
    
        }
        //media queries music
        .Titulomusic{
            h1{
                font-size: 30px;
            }
        }
        #divcanciones{
            display: block;
            width: 80vw;
            iframe{
               width: $anchosmax;
            
            }
            
        }
        //media queries de contact
        .titulocontact{
            h1{
                font-size: 40px;
            }
        }
        ul{
            padding-left: 0;
        }
        .contenedorcontact{
            width: 80%;
        }
        //media queries shows
        .tituloshows{
            h1{
                font-size: 40px;
            }
        }
        
    }
    
    
